doctype html
html
    head
        meta(charset="UTF-8")
        link(rel="stylesheet",href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css")
        script(src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
        block head
    body
        nav.navbar.navbar-light.bg-faded
            .container
                a.navbar-brand(href="/") misskey-tv
                ul.nav.navbar-nav
                    if login
                        li.nav-item: a.nav-link(href="/start") start
                    else
                        li.nav-item: a.nav-link(href="/login") login
        .container
            block content
