extends ./base
block head
    meta(charset="UTF-8")
    title MisskeyTV
block content
    h1 MisskeyTV
    h2 現在配信中
    div= name
    ul
        each live in lives
            li: a(href='/live/'+live.screenName) @#{live.screenName}
