extends ./base
block head
    meta(charset="UTF-8")
    title ウンチーコング
    script(src="//cdn.jsdelivr.net/hls.js/latest/hls.min.js")
    script.
        $(function(){
            var video = document.getElementById("player")
            var hls = new Hls()
            hls.loadSource(video.currentSrc)
            hls.attachMedia(video)
            hls.on(Hls.Events.MANIFEST_PARSED,function() {
                video.play()
            })
        })
    style.
        video{
            background:black;
        }
block content
    h1= live.name
    span #{user.screenName} Live
    div.embed-responsive.embed-responsive-16by9
        if live.status == "live"
            video.embed-responsive-item(src="/hls/#{user.screenName}/index.m3u8",controls)#player
        else
            video.embed-responsive-item(src="/records/mp4/"+live.id,controls)
