extends ./base
block head
    script.
        $(function(){
            $("#rtmpurl").val("rtmp://"+location.hostname+"/live/")
        })
block content
    h1 配信開始
    .form-group
        label 配信タイトル
        input(type="text",name="name",value=user.newStream.name).form-control
    .form-group
        label 説明
        textarea(name="description",value=user.newStream.description).form-control
    p ↓使って、どうぞ
    .form-group
        label RTMP URL
        input(type="text",value="rtmp://fuck.local/live/").form-control#rtmpurl
    .form-group
        label RTMP Stream Key(ないしょのやつ)
        input(type="text",value=user.streamKey).form-control
    h2 推奨設定
    ul
        li ビットレート:1500kbps前後（サーバーサイドで1250kbpsに再エンコされます）
