extends ./base
block head
    meta(charset="UTF-8")
    title @#{user.screenName} Profile - MisskeyTV
    style.
        .alert{
            position:relative;
            height:3.5rem;
        }
        .alert .btn{
            position:absolute;
            right:1.25rem;
        }
block content
    h1 @#{user.screenName}
    if now_live
        .alert.alert-info
            | Now live
            a(href="/live/"+user.screenName).btn.btn-primary.btn-sm Watch!
    h2 配信
    table.table.table-bordered
        tr
            th status
            th name
        each live in lives
            tr
                td= live.status
                td: a(href='/live/'+user.screenName)= live.name
