extends ./base
block head
    meta(charset="UTF-8")
    title @#{user.screenName} Profile - MisskeyTV
    style.
        .alert{
            position:relative;
            height:3.5rem;
        }
        .alert .btn{
            position:absolute;
            right:1.25rem;
        }
block content
    h1 @#{user.screenName}
    .alert.alert-info
        | Now live
        a(href="/live/"+user.screenName).btn.btn-primary Watch!
    table.table.table-bordered
        each live in lives
            tr
                td: a(href='/live/'+user.screenName)= live.name
