extends ./base
block head
    meta(charset="UTF-8")
    title @#{user.screenName} Profile - MisskeyTV
block content
    h1 @#{user.screenName}
    .alert.alert-info
        | Now live
        a(href="/live/"+user.screenName).btn.btn-primary Watch!
    ul
        each live in lives
            li: a(href='/profile/'+user.screenName) live
